.form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.form :global(.google-btn) {
    background-color: transparent;
    color: #D9432F;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.form p {
    color: rgb(73, 73, 73);
    font-size: 14px;
}